@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    list-style: none;
    background-color: #1E1E1E;
    color: white;
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    background-color: white;
}

body {
    max-width: 400px;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
    
}

main {
    padding-bottom: 40px;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

header img {
    margin: 15px 30px 0px 0px;
    width: 100px;
    height: 50px;
}

label {
    position: relative;
    height: 20px;
    width: 50px;
    display: block;
    cursor: pointer;
    margin-top: 15px;
    
}

.icon-menu,
.icon-menu::before,
.icon-menu::after {
    content: '';
    width: 20px;
    height: 2px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    background-color: white;
}

.icon-menu::after {
    top: 10px;
}

.icon-menu::before {
    top: 5px;
}

nav {
    height: 0px;
    transition: all 0.4s ease-in-outs 2s;
    overflow: hidden;
    position: absolute;
    top: 71px;
    z-index: 1;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu-nav-proyectos {
    display: none;
}

.iconos-contacto {
    height: 50px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.iconos-contacto img {
    width: 30px;
    height: 30px;
    margin: 15px;
}


.check {
    display: none;
}

.check:checked ~ label > div {
    transform: translateY(10px) rotate(45deg);
    transition: all 0.3s ease-in-out;
}

.check:checked ~ label > div::before {
    transform: translateY(-5px) rotate(90deg);
    transition: all 0.3s ease-in-out;
}

.check:checked ~ label > div::after {
    opacity: 0;
    transform: translateY(-10px) rotate(90deg);
    transition: all 0.3s ease-in-out;
}

.check:checked~nav {
    height: 400px; 
    width: 400px;
    transition: all 0.4s ease-in-outs 2s;
    margin: 0 auto;
}

ul .list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-item {
    width: 200px;
    height: 15px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding: 7px 30px;
    background-color: transparent;
   color: white;
   transition: all 0.5s;
   margin: 10px auto;
   border-bottom: 1px solid #c49726e1;
   }


  .arrow-left {
    width: 25px;
    height: 25px;
    margin-left: 25px;
  }


.inicio {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
    
.inicio h1 {
    font-weight: 300;
    font-size: 35px;
    color: #c49726e1;
}

.inicio h2 {
    font-weight: bold;
    font-size: 14px;
    margin-top: 15px;
    width: 350px;
}

.inicio button {
    background-color: none;
    border: none;
    padding-bottom: 25px;
    scroll-behavior: smooth;
}

.inicio button a {
    color: white;
    text-decoration: none;
}


.projects-container {
    width: 90%;
    margin: 0 auto 30px auto;
    text-align: center;
}

.projects-container img {
    width: 100%;
    height: 250px;
}

.project {
    margin: 35px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.project h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px; 
    margin: 25px 0px; 
}

.project p {
    font-size: 16px;
    font-weight: lighter;
    text-align: start;
    line-height: 25px;

}

.project button {
    margin: 30px 0px;
    border: none;
    border-bottom: 2px solid #c49726e1;
    padding-bottom: 7px;
    width: 100px;
}

.project button a {
    border: none;
    font-size: 16px;
}

.button-todos-proyectos {
    margin: 12px auto 0px auto;
    border: none;
    border-left: 2px solid #c49726e1;
    width: 200px;
    height: 30px;
    font-size: 12px;
}




.title-projects-general {
    font-size: 24px;
    width: 80%;
    margin: 60px auto 30px auto;
}

.projects-general {
    width: 90%;
    margin: 0 auto 30px auto;
    text-align: center;
}

.projects-general img {
    width: 90%;
    height: 200px;
    object-fit: cover;
}

.project-general {
    margin: 30px 0px;
    height: 45vh; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-general h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
     
}

.project-general button {
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid #c49726e1;
    padding-bottom: 7px;
    width: 30%;
}

.buton-volver {
    height: 80px;
    padding: 20px 0px;
    margin: 30px auto;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buton-volver button {
    border: none;
  
}

.buton-volver button a {
  font-size: 16px;

}

.buton-volver img {
    height: 20px;
    margin: 0px 0px 5px 10px;
}




.about-me {
    
    width: 90%;
    margin: 60px auto 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.about-me h3 {
    font-size: 24px;
    margin: 15px 0px 20px 0px;
}

.about-me p {
    font-size: 18px;
    font-weight: lighter;
    text-align: start;
    line-height: 28px;
}

.servicios {
    margin-top: 20px;
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.servicios span {
    background-color: rgba(118, 118, 118, 0.2);
    border-left: 2px solid #c49726e1;
    width: 250px;
    height: 5vh;
    text-align: center;
    padding-top: 18px;
    margin: 10px 0px;
}



.clientes {
    width: 90%;
    margin: 0 auto 0 auto;
}

.clientes h3 {
    font-size: 24px;
    margin: 10px 0px;
    width: 100%;
}

.clientes .marcas {
    height: 300px;
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.marcas img {
    height: 60px;
    margin: 10px 15px 0px 15px;
}



.project-individual {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 60px auto;
}

.project-individual h2 {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 2px solid #c49726e1;
    padding-bottom: 10px;
}


.imagenes-proyecto {
    margin: 30px auto 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagenes-proyecto img {
    width: 90%;
    height: 300px;
    margin: 0px 0px;
    object-fit: contain;
    margin: 20px 0px;
}

.project-individual p {
    margin: 30px 0px;
    font-size: 18px;
    font-weight: lighter;
    text-align: start;
    line-height: 27px;
}

.ficha-tecnica {
    margin: 5px 0px 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.project-individual a {
    margin: 30px 0px 90px 0px;
    border: 1px solid #c49726e1;
    width: 25%;
    height: 25px;
    padding: 10px 0px 5px 13px;
}

.ficha-tecnica span {
    margin: 5px;
    font-size: 15px;
}


@media screen and (min-width: 960px) {

    body {
        max-width: 1328px;
    }

    header {
        height: 90px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .check,
    label,
    .icon-menu {
        display: none;
    }
    
    .menu-nav {
        position: initial;
        height: 100%;
       margin-right: 80px;
       width: 35%;
       margin-bottom: 10px;
    }

    .menu-nav-proyectos {
        display: flex;
    }

    header img {
        margin: 20px 0px 0px 150px;
        height: 50px;
        width: 110px;
    }

    .menu-nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        height: 60px;
    }
    
    .list-item {
    width: 100px;
    padding: 0px 0px;
    color: white;
    border: none;
    font-weight: 400;
    margin: 0px 10px;
    font-size: 12px;
    }

    .list-item a {
        padding-top: 10px;
    }

    .iconos-contacto {
        display: none;
    }

    main {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .inicio {
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border: 1px solid white;
        width: 100%;
        margin: 0 auto;
    }
        
    .inicio h1 {
        font-weight: 300;
        font-size: 46px;
        color: #c49726e1;
        padding-left: 250px;
        padding-top: 60px;
    }
    
    .inicio h2 {
        font-size: 30px;
        margin-top: 15px; 
        width: 75%;
        padding-left: 250px;
    }
    
    .inicio button {
        background-color: none;
        border: none;
        padding-bottom: 25px;
        scroll-behavior: smooth;
        padding-left: 600px;
        margin-top: 0px;
        padding-bottom: 250px;
       
    }
    
    .inicio button a {
        font-size: 20px;
        color: white;
        text-decoration: none;
    }


    .projects-container {
        width: 95%;
        margin: 30px 0px 0px 70px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
       
        position: relative;
        height: 800px;
    }
    
    
    
    .project {
        margin: 35px 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 400px;

    }
    
    .projects-container img {
        width: 100%;
        height: 250px;
    }
    
    .project h3 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px; 
        margin: 25px 0px; 
    }
    
    .project p {
        font-size: 16px;
        font-weight: lighter;
        text-align: start;
        line-height: 25px;
    }
    
    .project button {
        margin: 40px 0px 50px 0px;
        border: none;
        border-bottom: 2px solid #c49726e1;
        padding-bottom: 7px;
        width: 100px;
         width: 140px;
    
    }
    
    .project button a {
        border: none;
        font-size: 14px;
       
    }
    
    .button-todos-proyectos {
        margin: 40px auto 0px auto;
        border: none;
        border-left: 2px solid #c49726e1;
        width: 310px;
        height: 30px;
        font-size: 18px;
        position: absolute;
        bottom: 80px;
    }

    .about-me {
        width: 95%;
        margin: 60px 0px 30px 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

    }
    
    .about-me h3 {
        font-size: 28px;
        margin: 15px 0px 20px 0px;
    }
    
    .about-me p {
        font-size: 20px;
        font-weight: lighter;
        text-align: start;
        line-height: 36px;
    }
    
    .servicios {
        margin-top: 60px;
        height: 20vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    
    .servicios span {
        background-color: rgba(118, 118, 118, 0.2);
        border-left: 3px solid #c49726e1;
        width: 280px;
        height: 5vh;
        text-align: center;
        padding-top: 10px;
        margin: 10px 5px;
        font-size: 18px;
    }

    .clientes {
        width: 95%;
        margin: 0 auto 0 70px;
        height: 400px;
    }
    
    .clientes h3 {
        font-size: 28px;
        width: 100%;
    }
    
    .clientes .marcas {
        height: 300px;
        margin: 0px auto 0px auto;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 20px;
    }
    
    #birque {
        width: 220px;
        height: 120px;
        margin-left: 30px;
        margin-bottom: 40px;
    }

    #quirino {
        height: 140px;
    }

    #moco {
        margin: 50px 10px 0px 30px;
    }

    #ilusionario {
        margin-left: 30px;
        height: 140px;
        width: 300px;
    }

    #osa {
        height: 140px;
    }

    #tamandua {
        height: 140px;
        width: 160px;
    }

    
    .title-projects-general {
        font-size: 28px;
        width: 30%;
        margin: 80px 0px 30px 130px;
    }
    
    .projects-general {
        width: 90%;
        margin: 0 auto 30px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }
    
    .projects-general img {
        width: 90%;
        height: 300px;
        object-fit: cover;
    }
    
    .project-general {
        margin: 30px 0px;
        height: 60vh; 
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
    }
    
    .project-general h3 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 15px;
         
    }
    
    .project-general button {
        margin-top: 30px;
        border: none;
        border-bottom: 2px solid #c49726e1;
        padding-bottom: 7px;
        width: 30%; 
        font-size: 16px;
    }
    
    .arrow-left {
       display: none;
      }

    footer {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
    }

    footer .iconos-contacto {
        border-top: 2px solid #c49726e1;
        padding-top: 20px;
        width: 30%;
        height: 70px;
       
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .iconos-contacto img {
        height: 40px;
        width: 40px;
    }

    .buton-volver {
        margin: 120px auto 0px;
        width: 20%;
        height: 40px;
    
    }

    .buton-volver button a {
        font-size: 20px;
    }

    #iniciopro {
        border: 1px solid white;
        height: 30px;
        margin-left: 140px;
        padding-bottom: 12px;
        border: 1px solid #c49726e1;
    }

    .project-individual {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 60px auto;
       
    }
    
    .project-individual h2 {
        width: 35%;
        margin-bottom: 30px;
        border-bottom: 2px solid #c49726e1;
        padding-bottom: 10px;
        font-size: 28px;
    }
    
    
    .imagenes-proyecto {
        margin: 0px auto 30px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        object-fit: cover;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        text-align: center;
        height: 100%;
    }
    
    .imagenes-proyecto img {
        width: 30%;
        height: 400px;
        margin: 0px 0px;
        object-fit: contain;
        margin: 20px 0px;
        margin: 0px 10px;
    }
    
    #bugstin {
        margin-top: 20px;
        height: 300px;
        width: 250px;
    }

    
    .project-individual p {
        margin: 30px 0px;
        font-size: 22px;
        font-weight: lighter;
        text-align: start;
        line-height: 27px;
        width: 60%;
    }
    
    .ficha-tecnica {
        margin: 5px 0px 60px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .project-individual a {
        margin: 30px 0px 90px 0px;
        border: 1px solid #c49726e1;
        width: 8%;
        height: 25px;
        padding: 10px 0px 5px 13px;
    }
    
    .ficha-tecnica span {
        margin: 5px;
        font-size: 18px;
    }

}



