

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    list-style: none;
    background-color: $colorFondo;
    color: $MainFontColor;
    scroll-behavior: smooth;
    text-decoration: none;
}
